<% breadcrumb :wsi_pessoa_edit, @wsi_pessoa %>
<div class="row">
	<h3><%= action_edit(@wsi_pessoa)  %> <%= singular_model_name_for(WsiPessoa) %></h3>
</div>

<%= render 'form', wsi_pessoa: @wsi_pessoa %>