<div class="row">
  <ul class="collection with-header">
    <li class="collection-header grey lighten-4 ">
      <h5><b>Painel de Administração Track-J</b></h5>
      <%= link_to 'Clientes', admin_users_path, class: "collection-item black-text" %>

    </li>
  </ul>
</div>
