<footer class="page-footer grey darken-2">
  <div class="footer-copyright">
    <div class="container">
    	<strong>Copyright</strong> Track-J Rastreadores &copy; <%= Date.today.year %>
    </div>
  </div>
</footer>
